<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BodegaUbita"
        tools:targetApi="31">
        <activity
            android:name=".ui.account.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.orders.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.order.OrderAdminDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.product.ProductAdminDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.category.CategoryAdminDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.orders.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.cart.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.CategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />
    </application>

</manifest>